<a href="https://colab.research.google.com/github/asimds/26DECOPFAIL/blob/main/merging%20%26%20reducing%20dataset%20size.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import pandas as pd
df_working= pd.read_pickle('/content/drive/MyDrive/con_app_msg')

In [3]:

df_contacts= pd.read_pickle('/content/drive/MyDrive/26Dec21/collections/contacts_cleaned')

In [ ]:
df_working2= pd.merge(df_working, df_contacts, on='application_id')

In [8]:
df_working.dtypes

MOBILE_NUMBER              object
STATUS                     object
CAUSE                      object
LATENCY_MINUTES           float64
NUMBER_MESSAGES            object
MESSAGE_TYPE               object
MSG_DELIVERED      datetime64[ns]
part_of_day                object
MONTH                       int64
DAY                         int64
WEEK_OF_YEAR                int64
application_id              int64
name                       object
status                     object
user_id                     int64
experiment_id               int64
dtype: object

In [9]:
df_contacts.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1026760 entries, 0 to 1028089
Data columns (total 3 columns):
 #   Column          Non-Null Count    Dtype
---  ------          --------------    -----
 0   application_id  1026760 non-null  int64
 1   contact         1026760 non-null  object
 2   name            1026760 non-null  object
dtypes: int64(1), object(2)
memory usage: 31.3+ MB

In [10]:
df_working.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 6042107 entries, 0 to 6042106
Data columns (total 16 columns):
 #   Column           Dtype
---  ------           -----
 0   MOBILE_NUMBER    object
 1   STATUS           object
 2   CAUSE            object
 3   LATENCY_MINUTES  float64
 4   NUMBER_MESSAGES  object
 5   MESSAGE_TYPE     object
 6   MSG_DELIVERED    datetime64[ns]
 7   part_of_day      object
 8   MONTH            int64
 9   DAY              int64
 10  WEEK_OF_YEAR     int64
 11  application_id   int64
 12  name             object
 13  status           object
 14  user_id          int64
 15  experiment_id    int64
dtypes: datetime64[ns](1), float64(1), int64(6), object(8)
memory usage: 783.7+ MB

In [13]:
pip install downcast

Collecting downcast
  Downloading downcast-0.0.8-py3-none-any.whl (3.3 kB)
Installing collected packages: downcast
Successfully installed downcast-0.0.8

In [14]:
from downcast import reduce

In [15]:
df = reduce(df_working)

In [16]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 6042107 entries, 0 to 6042106
Data columns (total 16 columns):
 #   Column           Dtype
---  ------           -----
 0   MOBILE_NUMBER    category
 1   STATUS           category
 2   CAUSE            category
 3   LATENCY_MINUTES  float16
 4   NUMBER_MESSAGES  category
 5   MESSAGE_TYPE     category
 6   MSG_DELIVERED    datetime64[ns]
 7   part_of_day      category
 8   MONTH            int8
 9   DAY              int8
 10  WEEK_OF_YEAR     int8
 11  application_id   int32
 12  name             category
 13  status           category
 14  user_id          int32
 15  experiment_id    int8
dtypes: category(8), datetime64[ns](1), float16(1), int32(2), int8(4)
memory usage: 256.8 MB

In [17]:
df2 = reduce(df_contacts)

In [18]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1026760 entries, 0 to 1028089
Data columns (total 3 columns):
 #   Column          Non-Null Count    Dtype
---  ------          --------------    -----
 0   application_id  1026760 non-null  category
 1   contact         1026760 non-null  category
 2   name            1026760 non-null  category
dtypes: category(3)
memory usage: 111.9 MB

In [11]:
df_contacts['application_id'] = df_contacts.application_id.astype(str)

In [12]:
df_contacts.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1026760 entries, 0 to 1028089
Data columns (total 3 columns):
 #   Column          Non-Null Count    Dtype
---  ------          --------------    -----
 0   application_id  1026760 non-null  object
 1   contact         1026760 non-null  object
 2   name            1026760 non-null  object
dtypes: object(3)
memory usage: 31.3+ MB

In [ ]:
df_working2.to_pickle('/content/drive/MyDrive/merged')